body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif; /* Change to your desired font */
}

.main_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
}

.title_container {
  display: flex;
  justify-content: left;
  background-color: azure;
  padding: 1rem;
}

.widgets_container {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.main_checklist_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 30rem;
  position: fixed;
}

.arrow-icon {
  height: 1.5rem;
  width: 1.5rem;
  z-index: 1;
}

.to_do_list {
  overflow-y: auto;
  overflow-x: hidden; /* Hide the horizontal scrollbar */
  margin-bottom: auto;
  max-height: 25rem;
  overflow: scroll;
}

.to_do_list::-webkit-scrollbar {
  width: 0.5rem;
}

.to_do_list::-webkit-scrollbar-thumb {
  background-color: slateblue; /* Color of the scrollbar thumb */
  border-radius: 1rem; /* Rounded corners */
}

.to_do_list::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
  border-radius: 1rem; /* Rounded corners */
}

.to_do_list li {
  padding: 0.5rem;
}

li.checked {
  background-color: lightgreen;
}

.add_to_do_button {
  width: 10rem;
  height: 10%;
  margin-top: auto;
  align-self: left;
}

.arrow-icon:hover {
  cursor: grab;
}

.arrow-icon:active {
  cursor: grabbing;
}
